/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* typography */
html {
  font-size: 62.5%;
}
body {
  background-color: black;
}
/* General layout */
.app {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 1rem;
}

.app__sidebar {
  background-color: #2d3748;
  grid-row: 1/-1;
  display: block;
}
.app__navbar {
  background-color: darkgray;
}

.app__content {
  background-color: #edf2f7;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .app {
    grid-template-columns: 300px auto;
  }
  .app__sidebar {
    display: block;
  }
}

/* App content */
.app__content {
  display: grid;
  grid-template-columns: auto;
  gap: 0 1rem;
}

.content {
  margin: 2.5rem auto;
}

.content__details {
  position: relative;
}

.content__details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content__info {
  width: 90%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 #0000000d, 0 8px 15px 0 #0000001a;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.info__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

.info__header p {
  color: #718096;
  justify-content: center;
  margin-left: 0.5rem;
}

.info__title p {
  color: #1a202c;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.info__price {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.info__price p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 0.5rem;
}

.info__price span {
  font-size: 1.6rem;
  color: #718096;
}

.info__stars {
  display: flex;
  align-items: flex-end;
}

.info__stars p {
  color: #718096;
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 2rem;
}

.rating {
  direction: ltr; /* راست به چپ برای چینش ستاره‌ها از راست */
  display: inline-flex;
}

.rating input {
  display: none;
}

.rating label {
  width: 15px;
  height: 15px;
  background-image: url("/Assets/images/secondary.svg"); /* ستاره خالی */
  background-size: cover;
  cursor: pointer;
  margin-top: 1rem;
}

.rating input:checked ~ label,
.rating input:checked ~ label:hover,
.rating label:hover,
.rating label:hover ~ label {
  background-image: url("/Assets/images/primary.svg"); /* ستاره پر */
}

@media screen and (min-width: 768px) {
  .app__content {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 1024px) {
  .app__content {
    grid-template-columns: repeat(3, auto);
  }
}

/* badge */
.badge {
  color: #285e61;
  font-weight: 500;
  background-color: #b2f5ea;
  border-radius: 18px;
  padding: 0.2rem;
}

/* App title */
.app__title {
  grid-column: 1/-1;
}
.app__title h2 {
  font-weight: 400;
  font-size: 2rem;
  color: #1a202c;
  margin: 1rem 0;
}
.app__title p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #718096;
  margin: 1rem 0;
}

/* sidebar */

/* sidebar-header */
.sidebar__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a202c;
  color: #fff;
  padding: 2rem 0;
  height: 80px;
}
.sidebar__header img {
  width: 45px;
  margin-right: 0.6rem;
}
.sidebar__header p {
  font-size: 2.5rem;
  position: relative;
  top: 0.5rem;
}
.sidebar__header span {
  color: #a3bffa;
}
/* sidebar-filter */
.sidebar__filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: #a0aec0;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1.5rem;
  border-bottom: 1px solid #1A202C;
}
.filters__items {
  display: flex;
  flex-direction: column;
}
.filters__items div {
  border: 1px solid #4a5568;
  background-color: #4a5568;
  border-radius: 10px;
  width: 100%;
  height: 3.5rem;
  margin: 0.7rem 0;
}
.filters__items:last-child {
  grid-column: 1/ -1;
}
.items__input {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 1rem;
}

/* sidebar location */

.sidebar__location {
  display: flex;
  flex-direction: column;
  padding: 0 4.5rem;
  height: 100px;
  gap: 2rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 2rem;
}
.location__items::before {
  position: absolute;
  left: 1rem;
  width: 15px;
  height: 15px;
  content: "";
  box-shadow: 0 0 0 2px #1a202c;
  border-radius: 100%;
  cursor: pointer;
  background-color: #1a202c;
  transform: translateY(-10%);
}

.location__items.selected::before {
  border: 8px solid #667eea;
  background-color: #fff;
  height: 26px;
  width: 26px;
}

.sidebar__location h2 {
  font-weight: 500;
  color: #a0aec0;
  font-size: 1.4rem;
}
